:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 13px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.grid-container {
  display: grid;
  gap: 3em;
  padding: 5em 3em;
}

.card {
  margin: 0 auto;
  padding: 3em;
  border: 1px solid inherit;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 30px 30px 45px 10px rgba(207, 207, 207, 1);
}

.purple-bg {
  color: var(--grey-100);
  background-color: var(--purple-500);
}

.grey-bg {
  color: var(--grey-100);
  background-color: var(--grey-500);
}

.white-bg {
  color: var(--grey-400);
  background-color: var(--white);
}

.darkblue-bg {
  color: var(--grey-100);
  background-color: var(--dark-blue);
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 1.3em;
  margin-bottom: 1.5em;
}

.card__img {
  width: 30px;
  border-radius: 50%;
}

.border-purple-300 {
  border: 2px solid var(--purple-300);
}

.border-purple-500 {
  border: 2px solid var(--purple-500);
}

.card__name {
  font-size: 1.1rem;
  margin-bottom: 0.2em;
}

.card__title {
  font-size: 0.9rem;
}

.card__testimonial {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.card__quote {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.white {
  color: var(--white);
}

.grey-200 {
  color: var(--grey-200);
}

.grey-400 {
  color: var(--grey-400);
}

.grey-500 {
  color: var(--grey-500);
}

/* Footer */
.attribution {
  margin: 2em 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1024px) {
  .purple-bg {
    background-color: var(--dark-blue);
  }

  .grid-container {
  }
}
